*{
    margin: 0;
    padding: 0;
}
h1{
    padding: 20px;
    text-align: center;
    color:red;
}
nav{
    background-color: rgb(19, 16, 16);
    color: white;
}
main{
    background-color: aqua;
    height: 1000px;
}
footer{
    background-color: rebeccapurple;
    text-align: center;
    color:rgb(231, 191, 11);
}