body{
    background-color: rgb(0, 110, 255);
}
.f{
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#g{
    background-color: burlywood;
    font-style: italic;
}
p{
    background-image: url('https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    color: aliceblue;
    background-attachment: scroll;
    padding: 100px;
    height: auto;
}