*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header{
    background-color: black;
    width: 100vw;
}
nav ul{
    display: flex;
    padding: 20px 10px;
}
nav ul li{
    font-size: 20px;
    padding: 15px 20px;
}
nav ul li a{
    text-decoration: none;
    color:white;
}
nav ul li a:hover{
    color:coral;
}
nav ul li a:visited{
    color:cornflowerblue;
}
.contain{
    position: relative;
    left: 70vw;
    bottom: 11.5vh;
}
.mk{
    height: 50px;
    width: 50px;
    padding: 10px 20px;
}
#home{
    color:white;
    display: flex;
    padding-left: 50px;
    justify-content: center;
    align-content: center;
}
#about{
    display: flex;
    color:white;
    justify-content: space-around;
    padding-top: 30px;
}
#coursework{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 40px;
}
#skill{
    display: flex;
    justify-content: center;
}
#skill div img{
    padding: 20px;
    height: 70px;
    width: 70px;
}
#achieve{
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
}
#vconnect{
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
}
main{
    overflow-y: hidden;
    background-color: black;
    padding-bottom: 50px;
}
.lkp{
    color: chartreuse;
    text-align: center;
    font-size: 20px;
}
.stsem{
    font-size: 20px;
    color:white;
}
.ndsem{
    font-size: 20px;
    color:white;
}
.hc{
    color: white;
    text-align: center;
}
.p h1{
    padding-left: 90px;
    font-size:60px;
    color: cyan;
    text-align: center;
    overflow-y: hidden;
}
.ab{
    height: 350px;
    width: 350px;
}

#achieve div{
    padding: 20px;
    font-size: 20px;
}

#k{
    text-align: center;
    font-size: 40px;
    color: chartreuse;
}
footer{
    background-color:chartreuse;
    text-align: center;
}
.finish{
    padding:10px;
    font-size: 18px;
    color:blue;
}
.imgp{
    height: 300px;
}
.githuba a{
    color:white;
    padding-top: 50px;
}
.githuba a:hover{
    color:coral;
    
}
.hka a{
    color:white;
    
}
.hka a:hover{
    color:coral;
}
.linka a{
    color:white;
    
}
.linka a:hover{
    color:coral;
}
.insta a{
    color:white;
    
}
.insta a:hover{
    color:coral;
}
#l{
    font-size: 40px;
    color: chartreuse;
    padding-top: 100px;
    text-align: center;
}
.githuba{
    text-align: center;
}
.hka{
    text-align: center;
}
.linka{
    text-align: center;
}
.insta{
    text-align: center;
}
#zxc{
    font-size: 40px;
    padding-top: 80px;
    color: chartreuse;
    text-align: center;
}

.vcl{
    height: 300px;
    width: 300px;
}

.abt{
    font-size: 20px;
}


#fg{
    color: chartreuse;
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}
.p h2{
    padding-top: 20px;
    padding-left: 90px;
    font-size: 50px;
}
.p h2 span:before{
    content: '';
    animation: animate infinite 5s;
}

@keyframes animate {
    0%{
        content: 'A Competitive Coder';
    }
    25%{
        content: 'A Web Developer';
    }
    50%{
        content:'An Andriod Dev Enthuiast';
    }
    75%{
        content: 'An IT Student';
    }
}

@media only screen and (max-width:800px){
    main{
        overflow-y: hidden;
    }
    .contain{
        display: none;
    }
    nav ul{
        flex-wrap: wrap;
    }
    #home{
        flex-direction: column;
        justify-content: left;
        align-content: left;
    }
    .g{
        padding-left: 0px;
        padding-right: 30px;
    }
    .g img{
        height:200px;
        width:200px;
        padding-left: 0px;
    }
    #about{
        flex-direction: column;
    }
    .first{
        align-self: center;
    }
    .p h1{
        padding-left: 10px;
        text-align: left;
        font-size: 40px;
        padding-right: 20vw;
    }
    .p h2{
        padding-left: 10px;
        text-align: left;
        font-size: 30px;
        padding-right: 20vw;
    }
    #skill{
        flex-wrap: wrap;
    }
    #coursework{
        flex-direction: column;
        row-gap: 20px;
    }
    .hc{
        padding-top: 30px;
    }
    #vconnect{
        grid-template-columns: auto;
        grid-row-gap: 50px;
    }
    .imgp{
        height:200px;
    }
    #fg{
        padding-top: 30px;
    }
}